<ion-view hide-nav-bar="true">
  <!--logo-->
  <div id="topToolbar" >
    <div id="logoToolbar" class="toolbar-holder transformable">
      <!--ng-class="{small:ctrl.scrolled,big:!ctrl.scrolled}">-->
      <svg viewBox="0 0 1000 220" class="toolbar-background" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="main/assets/svgs/whiteDots_stars_header.svg#Layer_1_copy_3" x="-841" y="-339" width="2475"
             height="2207"></use>
        <use xlink:href="main/assets/svgs/LondonCityHeader.svg#London_BG_copy"></use>
        <use xlink:href="main/assets/svgs/LOGO_header.svg#LOGO_copy" x="404" y="26"></use>
        <text x="680" y="205" style="fill:#fff;">
          <tspan>LONDON</tspan>
        </text>
      </svg>
    </div>

    <div id="searchMenu">

      <!--event types-->
      <div ng-include="'main/templates/event_types_pane.html'" class="toolbar-holder"></div>
      <!--calendar panel-->
      <div ng-include="'main/templates/calendar_pane.html'" ng-controller="CalendarCtrl as ctrl"
           class="toolbar-holder"></div>

    </div>
  </div>

  <ion-content id="content"
               on-scroll="ctrl.onScrollContent()"
               class="transformable-top">

    <!--refreshener-->
    <!--<ion-refresher-->
    <!--pulling-text="Pull to refresh..."-->
    <!--on-refresh="ctrl.doRefresh()">-->
    <!--</ion-refresher>-->
    <!--event list-->
    <!--<ion-list block-ui="ctrl.blockUIHome">-->
    <ion-list>
      <ion-item class="item-icon-right item-thumbnail-right"
                href="{{event.url}}"
                ng-repeat="event in ctrl.events">

        <img class="item-thumbnail" ng-src="{{event.eventImage}}" />
        <i class="icon ion-chevron-right icon-accessory"></i>
        <h2>{{::(event.name)}}</h2>
        <h3>{{::(event.startDate | date:"dd/MM/yyyy ' ' h:mma")}}</h3>
        <h3>{{::(event.location.name)}}</h3>
        <p>
          <img class="item-logo" ng-src="{{ctrl.get_favicon}}{{::(event.url | domain)}}"/>
          {{::(event.url | domain)}}</p>

      </ion-item>
    </ion-list>
    <!--scrolling-->
    <ion-infinite-scroll
      ng-if="ctrl.moreDataCanBeLoaded"
      icon="ion-loading-c"
      on-infinite="ctrl.loadMore()"
      distance="1%">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
