<div>

  <svg viewBox="0 0 1080 1920" width="100%" height="100%" class="slide1-toolbar">
    <use viewBox="0 0 1080 1750" x="0" y="190" xlink:href="main/assets/svgs/intro_bg_slide3.svg#bg_man"></use>

    <!--<image xlink:href="main/assets/images/intro_bg_slide3.png" x="0" y="100" width="100%" height="100%"/>-->

    <!--<foreignobject x="45" y="105" width="545">Choose a date</foreignobject>-->
    <text x="45" y="135" style="fill:#fff;" font-size="1.6em">
      <tspan>Choose a date</tspan>
    </text>
    <use xlink:href="main/assets/svgs/LOGO_header.svg#LOGO_copy" x="755" y="75"></use>
    <use xlink:href="main/assets/svgs/red_circles_slide3.svg#red_circles" x="0" y="150"></use>

  </svg>
    <div class="slide3 intro-buttons-wrapper">
    <div ng-include="'main/templates/calendar_pane.html'" ng-controller="CalendarCtrl as ctrl" ></div>
  </div>

</div>
