<div>

  <svg viewBox="0 0 1080 1920" width="100%" height="100%" class="slide1-toolbar">
    <use viewBox="0 0 1080 1750" x="0" y="180" xlink:href="main/assets/svgs/intro_bg_slide3.svg#bg_man"></use>

    <foreignobject x="45" y="105" width="545">Choose a date</foreignobject>

    <use xlink:href="main/assets/svgs/LOGO_header.svg#LOGO_copy" x="755" y="65"></use>
    <use xlink:href="main/assets/svgs/red_circles_slide3.svg#red_circles" x="0" y="130"></use>

  </svg>
  <div class="intro-buttons-wrapper">
    <div ng-include="'main/templates/calendar_pane.html'" ng-controller="CalendarCtrl as ctrl" ></div>
  </div>

</div>
