
<!--<svg viewBox="0 0 1080 1920" class="slide1-toolbar">-->

  <!--<use x="0" y="190" xlink:href="main/assets/svgs/london_Image_bg.svg#london_Image_bg"></use>-->
  <!--&lt;!&ndash;<image xlink:href="main/assets/images/london_Image_bg.jpg" x="0" y="100" width="100%" height="100%"/>&ndash;&gt;-->
  <!--<text x="45" y="135" style="fill:#fff;">-->
    <!--<tspan>Welcome to LONDON :)</tspan>-->
  <!--</text>-->

  <!--<use xlink:href="main/assets/svgs/LOGO_header.svg#LOGO_copy" x="755" y="75"></use>-->

  <!--<use xlink:href="main/assets/svgs/red_circle.svg#red_circle" x="0" y="510"></use>-->

  <!--<text style="fill:#a32227;">-->
    <!--<tspan y="280" x="45" class="slide1-body">Let us find you</tspan>-->
    <!--<tspan y="370" x="45" class="slide1-body">some place</tspan>-->
    <!--<tspan y="460" x="45" class="slide1-body">to go to (2 steps)</tspan>-->
  <!--</text>-->

<!--</svg>-->
<div class="slide1-toolbar">
  <div>
    <svg width="100%" viewBox="0 0 1140 1050">
      <use xlink:href="main/assets/svgs/logo.svg#logoimage" x="285" y="320"></use>
      <text x="570" y="830" style="fill:#fff;" text-anchor="middle">
      <tspan>Welcome to LONDON :)</tspan>
      </text>

      <text style="fill:#fff;" text-anchor="middle">
      <tspan y="935" x="570" class="slide1-body">Let us find you</tspan>
      <tspan y="1020" x="570" class="slide1-body">some place to go</tspan>
      </text>
    </svg>
  </div>
  <div class="slide1-footer">
    <svg width="100%" viewBox="0 0 1080 320">
      <use xlink:href="main/assets/svgs/london_vector.svg#londonimage"></use>
    </svg>
  </div>
</div>
