<svg viewBox="0 0 1030 1920" class="toolbar-holder">
  <use xlink:href="main/assets/svgs/london_Image_bg.svg#london_Image_bg" x="150" y="0"></use>
  <foreignobject x="75" y="45" width="545">Welcome to LONDON :)</foreignobject>
  <use xlink:href="main/assets/svgs/red_circle.svg" x="100" y="0"></use>

  <foreignobject x="208" y="45" width="483">Let us find you</foreignobject>
  <foreignobject x="306" y="45" width="381">some place</foreignobject>
  <foreignobject x="384" y="45" width="465">to go to (2 steps)</foreignobject>

  <use xlink:href="main/assets/svgs/white_dot_full.svg#white_dot_full" x="955" y="501"></use>
  <use xlink:href="main/assets/svgs/white_dot.svg#white_dot" x="955" y="548"></use>
</svg>
