
<svg viewBox="0 0 1080 1920" class="slide1-toolbar">

  <use x="0" y="190" xlink:href="main/assets/svgs/london_Image_bg.svg#london_Image_bg"></use>

  <!--<image viewBox="0 0 1080 1750" x="0" y="190" width="100%" height="100%" xmlns:link="main/assets/images/london_Image_bg.png"></image>-->

  <!--<image xlink:href="main/assets/images/london_Image_bg.png" x="0" y="100" width="100%" height="100%"/>-->

  <text x="45" y="135" style="fill:#fff;">
    <tspan>Welcome to LONDON :)</tspan>
  </text>

  <use xlink:href="main/assets/svgs/LOGO_header.svg#LOGO_copy" x="755" y="75"></use>

  <use xlink:href="main/assets/svgs/red_circle.svg#red_circle" x="0" y="510"></use>

    <!--<foreignobject y="240" x="45" width="500" height="100%" class="slide1-body">Let us find you</foreignobject>-->
    <!--<foreignobject y="330" x="45" width="420" height="100%" class="slide1-body">some place</foreignobject>-->
    <!--<foreignobject y="420" x="45" width="600" height="100%" class="slide1-body">to go to (2 steps)</foreignobject>-->

  <text style="fill:#a32227;">
    <tspan y="280" x="45" class="slide1-body">Let us find you</tspan>
    <tspan y="370" x="45" class="slide1-body">some place</tspan>
    <tspan y="460" x="45" class="slide1-body">to go to (2 steps)</tspan>
  </text>

  <!--<use xlink:href="main/assets/svgs/white_dot_full.svg#white_dot_full" y="955" x="501"></use>-->
  <!--<use xlink:href="main/assets/svgs/white_dot.svg#white_dot" y="955" x="548"></use>-->
</svg>
